In [1]:
from pandas import DataFrame,read_csv,concat,options
from os import listdir
options.display.float_format = "{:.2f}".format

In [2]:
csv_files:list[str] = listdir('State_Summary_Results')
data:dict[str,DataFrame] = {}
columns:list[str] = ['State','Leading_Candidate','Vote_Percent_Leader','Vote_Count_Leader',
                     'Trailing_Candidate','Vote_Percent_Trailer','Vote_Count_Trailer','Reported_Percent']

In [3]:
df:DataFrame = DataFrame(columns=columns)
current_registered_voters:DataFrame = read_csv('registered-voters-by-state-2024.csv',index_col=0).drop('Registered_Voters_As_Percent_Of_Voting_Age_Population',axis=1)

In [4]:
for file in csv_files:
    data[file.replace('_Results.csv','')] = read_csv(f"State_Summary_Results/{file}")

In [5]:
for key,item in data.items():
    item.insert(loc=0,column='State',value=key)
    df:DataFrame = concat([df,item],axis=0)

C:\Users\michael\AppData\Local\Temp\ipykernel_22164\1812353265.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df:DataFrame = concat([df,item],axis=0)

In [6]:
df:DataFrame = df.rename(columns={"Unnamed: 0":'DateTime_Extraction'})

In [9]:
for col in ['Vote_Percent_Leader','Vote_Count_Leader','Vote_Percent_Trailer','Vote_Count_Trailer']:
    df[col] = df[col].astype(float)

In [10]:
total_votes:DataFrame = df.groupby('DateTime_Extraction').sum(numeric_only=True)

In [11]:
total_votes['Total_Votes'] = total_votes['Vote_Count_Leader']+total_votes['Vote_Count_Trailer']

In [12]:
print(f"{total_votes['Total_Votes'].unique()[0]:,}")

155,508,985.0

In [15]:
current_registered_voters

                      Registered_Voters_In_Thousands
State
Alabama                                         2527
Alaska                                           383
Arizona                                         3878
Arkansas                                        1361
California                                     18001
Colorado                                        2993
Connecticut                                     1850
Delaware                                         542
District of Columbia                             464
Florida                                        10495
Georgia                                         5233
Hawaii                                           673
Idaho                                            900
Illinois                                        6590
Indiana                                         3412
Iowa                                            1742
Kansas                                          1398
Kentucky                                        2450
Louisiana                                       2286
Maine                                            832
Maryland                                        3383
Massachusetts                                   3546
Michigan                                        5513
Minnesota                                       3436
Mississippi                                     1749
Missouri                                        3388
Montana                                          641
Nebraska                                         971
Nevada                                          1455
New Hampshire                                    843
New Jersey                                      5008
New Mexico                                      1028
New York                                        9370
North Carolina                                  5161
North Dakota                                     429
Ohio                                            6733
Oklahoma                                        1884
Oregon                                          2590
Pennsylvania                                    7337
Rhode Island                                     575
South Carolina                                  2713
South Dakota                                     437
Tennessee                                       3742
Texas                                          13343
Utah                                            1468
Vermont                                          365
Virginia                                        4541
Washington                                      4029
West Virginia                                    928
Wisconsin                                       3391
Wyoming                                          296
United States                                 168303